
body{
	margin:1%;
	padding:1%;
	font-size:150%;
	background-color: #707070;
	background-image: url(/images/background.jpg);
	min-height: 400px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

main{
background: white;
opacity: 0.90;
}

h1{
	font-size: 2em; 
	font-weight: bold;
}
#main{
	color: white;
}
#main2{
	color: white;
}


h4{
	font-size: 1em; 
	font-weight: bold;
}

.active{
	background: white;
    text-transform: uppercase;
	text-align: center;
}

.active a{
	text-decoration: none;;
}

img{
    height: 200px;
    width:200px;
    border: 3px ridge gray;
    padding: 5px;
    border-radius: 25px;
    margin: 10px;
}
img:nth-child(2){
	background: darkslategrey;
}


img:hover{
	background-color: darkblue;
	opacity: 50%;

}
#bright{
	width: 320px
}
#climate{
	width:400px
}

#nft{
	width: 300px;
}

#michnft{
	width: 300px;
}

#bh{
	width: 250px;
}

#dj{
	width: 150px;
}

#wedd{
	width: 310px;
}

#island{
	width: 290px;
}

#vt{
	width: 270px;
}

#vol{
	width: 130px;
}

#greensch{
	width: 300px;
}

#greenrib{
	width: 300px;
}

#pluglogo{
	width:300px;
	height: 100px;
	border-radius: 10px;
	
}

#plugbuild{
	width: 350px;
}

#plugconf{
	width: 300px;
}

#smbiz{
	width: 300px;
	height: 100px;
}

#website{
width: 250px;
}

.expcontent{
	display: grid;
	grid-template-columns: 200px 200px 200px;
}


h2{
	font-size: 2em; 
	font-weight: bold;
	font-family: "Papyrus", fantasy;
}


p, h1, h2 {
    padding: 10px;
}

footer{
	border: 2px groove grey;
	margin: 10px 0;
	color: white;
}

nav li{
	background: linear-gradient(to bottom, #66ffcc 0%, #0066ff 100%);
	padding: 5px;
	width:25%;
	border:1px solid black;
	display: inline-block;
	width: 20%;
	text-align: center;
	border-radius: 20px;
	text-decoration-color: white;
	font-size: 50%;
	margin-bottom: 2 em;
}

input {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box; 
	border-radius: 25px;
  }

  input[type=submit] {
	background-color: #06e5f5;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;  }
  
  





a:visited{color: darkblue;}

